body{
    background: #dcfae4;
} 
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center; font-family: 'Times New Roman';
}
#mission{
    text-align: center;
}
img{
    height: 200px; 
    width: 150px;
    
}
h3{
    text-align: center;
}
