body{
    background: #dcfae4;
} 
h1{
    text-align: center;
    color: #87d49c;
}
h1:hover{
    text-decoration:underline overline;
    text-underline-offset: 5px;
    color: green;
}
h3{
    text-align: left;
    font-style: italic;
}
.projects{
    display:flex;
    font-style:italic;
}
.project{
    width:30%;
    margin: 10px;
    padding: 20px 10px;
    background: #87d49c;
    border-radius: 25%
}
img{
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 2px solid green;
    display: block;
    margin: auto;
}
.project img:hover{
    border: 2px solid white;
}
a{
    text-decoration: none;
    color: green;
    display: block;
}
.project a:hover{
    color: white;
}
.project p{
    text-align: center;
    margin: 15px;
}
.about{
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}
.about p{
    width: 50%;
    text-align: center;
    margin: auto;
    line-height: 125%
}