body{
    background: #dcfae4;
} 
h1{
    text-align: center;
    color: green;
}
h1:hover{
    text-decoration:underline overline;
    text-underline-offset: 5px;
}
h3{
    text-align: left;
    font-style: italic;
}
.projects{
    display:flex;
    font-style:italic;
}
p{
    text-align: center; font-family: 'Times New Roman';
}
#mission{
    text-align: center;
}
img{
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 2px solid green;
    display: block;
    margin: auto;
}
.project img:hover{
    border: 2px solid white;
}
.project p{
    text-align: center;
    margin: 15px;
}
.project a:hover{
    color: white;
}