body{
    background: #dcfae4;
} 
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
    font-style: italic;
}
p{
    text-align: center; font-family: 'Times New Roman';
}
#mission{
    text-align: center;
}
img{
    height: 300px;
    width: 300px;
    border: 2px solid green;
    display: block;
    margin: auto;
}
.project img:hover{
    border: 2px solid white;
}
.project p{
    text-align: center;
    margin: 15px;
}
.project a:hover{
    color: white;
}