body{
    background: #dcfae4;
} 
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
    font-style: italic;
}
p{
    text-align: center; font-family: 'Times New Roman';
}
#mission{
    text-align: center;
}
.progect img{
    height: 300px;
    width: 300px;
    border: 2px solid;
    padding-left: 20px green;
    display: block;
    margin: auto;
}
.project img:hover{
    border: 2px solid white;
}
.ProblemStatment{
    display: block;
}